		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form role="form" action="#" class="amap-form">
					<h3 class="amap-form-title">Connexion à l'Amap Les Gumes</h3>
					<div class="amap-form-border">
						<div class="amap-form-content">
							<div class="form-group">
								<label for="login" style="display: block">
									Login
								</label>
								<input type="text" id="login" />
							</div>
							<div class="form-group">
								<label for="version" style="display: block">
									Mot de passe
								</label>
								<input type="password" id="password" />
							</div>
							<p class="help-block">
								Si vous avez perdu votre mot de passe, veuillez saisir votre login, puis cliquer sur 'Mot de passe oublié ?'
							</p>
							<button type="button" class="btn btn-primary" onClick="authenticate(); return false;">
								Connexion
							</button>
							<button type="button" class="btn btn-warning"  id='btn-info' onClick="passwordLost(); return false;">
								Mot de passe oublié ?
    						</button>
						</div>
					</div>
				<div class="alert alert-dismissable alert-danger amap-alert" id="ErrBox" >
				 
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
						×
					</button>
					<h4>
						Erreur !
					</h4> 
					<strong>ERREUR : </strong><span id="ErrMsg">Compte ou mot de passe invalide !</span>
				</div>
				<div class="alert-danger">
				</div>
				</form>
			</div>
		</div>
			<div class="col-md-4"></div>
		</div>
