<div class="jumbotron" >
	<h2 id="edit-title">Edition de ...</h2>
	<div id="editor2" class="editor">A modifier...</div>
	<a id="modal-557764" href="#modal-container-557764" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
</div>

