<div class="modal" id="image">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header finder">
        <div class="toolbar file">
          <button onClick="goImage('choose','');" title="Choisir" class="btn btn-outline-secondary">
            <span class="glyphicon glyphicon-ok"></span> Choisir
          </button>
          <input id="fileInput" type="file" style="display:none;" />
          <button onclick="goImage('upload','');" title="Télécharger" class="btn btn-outline-secondary">
            <span class="glyphicon glyphicon-save"></span> Télécharger
          </button>
          <button onClick="goImage('copier','');" title="Copier" class="btn btn-outline-secondary">
            <span class="glyphicon glyphicon-duplicate"></span> Copier
          </button>
          <button onClick="goImage('move','');" title="Déplacer" class="btn btn-outline-secondary">
            <span class="glyphicon glyphicon-import"></span> Déplacer
          </button>
          <button onClick="goImage('rename','');" title="Renommer" class="btn btn-outline-secondary">
            <span class="glyphicon glyphicon-transfer"></span> Renommer
          </button>
          <button onClick="goImage('trash','');" title="Supprimer" class="btn btn-outline-secondary">
            <span class="glyphicon glyphicon-trash"></span> Supprimer
          </button>
        </div>
        <div class="toolbar folder" style="display: none">
          <button onClick="goImage('choose','');" title="Choisir" class="btn btn-outline-primary">
            <span class="glyphicon glyphicon-thumbs-up"></span> Choisir
          </button>
          <input id="fileInput" type="file" style="display:none;" />
          <button onclick="goImage('upload','');" title="Télécharger" class="btn btn-outline-primary">
            <span class="glyphicon glyphicon-save"></span> Télécharger
          </button>
          <button onClick="goImage('newFolder','');" title="Nouveau dossier" class="btn btn-outline-primary">
            <span class="glyphicon glyphicon-plus"></span> Nouveau dossier
          </button>
          <button onClick="goImage('chdir','');" title="Aller dans" class="btn btn-outline-primary">
            <span class="glyphicon glyphicon-folder-open"></span> Aller dans
          </button>
          <button onClick="goImage('trash','');" title="Supprimer" class="btn btn-outline-danger">
            <span class="glyphicon glyphicon-trash"></span> Supprimer
          </button>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div>
        <div style="width: 24%; display: inline-block; padding: 5px; border-right: 1px solid #d7dcdf; height: 450px; ">
          <ul style="list-style-type: none; padding: 5px">
            <li><span class="glyphicon glyphicon-file"></span> Fichiers</li>
            <li><span class="glyphicon glyphicon-picture"></span> Images</li>
            <li><span class="glyphicon glyphicon-book"></span> Articles</li>
          </ul>
        </div>
        <div style="width: 74%; display: inline-block; padding: 5px; border: 1px solid red;top: 0px">Content</div>
      </div>
    </div>
  </div>
</div>