<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<h3>
				Amap <img src='/images/main/logo_lesgumes.png' height='40px'> St Sebastien / Loire
			</h3>
		</div>
		<div class="col-md-4">
			<button class="btn btn-primary amap-login">Indentifiez vous !!</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" href="#">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Menu 1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Menu 2</a>
				</li>
			</ul>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link active" href="#">Menu V1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Menu drop</a>
					<ul>
						<li>Menu 11</li>
						<li>Menu 12</li>
						<li>Menu 13</li>
						<li>Menu 14</li>
					</ul>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="#">Menu drop</a>
						<ul>
							<li>Menu 11</li>
							<li>Menu 12</li>
							<li>Menu 13</li>
							<li>Menu 14</li>
						</ul>
					</li>
				</ul>
			<div class="flex-column">
			</div>
		</div>
		<div class="col-md-9">
			<div class="jumbotron">
				<h2>
					Titre Article 1
				</h2>
				<p>
					Contenu de l'article 
					<h1>Titre 1</h1>
					<h2>Titre 2</h2>
					<h3>Titre 3</h3>
					<p>Un paragraphe avec du <b>Gras</b> <i>Italique</i></p>
					<p>Autre paragraphe 
						<ul>
							<li>Liste à puces</li>
							<li>Liste</li>
							<li>Liste</li>
						</ul>
						<ol>
							<li>Liste</li>
						</ol>
					</p>
				</p>
				<p>
					<a class="btn btn-primary " href="#">En savoir plus</a>
				</p>
			</div>
			<div class="jumbotron">
				<h2>
					Titre Article 2
				</h2>
				<p>
					Contenu de l'article 
					<h1>Titre 1</h1>
					<h2>Titre 2</h2>
					<h3>Titre 3</h3>
					<p>Un paragraphe avec du <b>Gras</b> <i>Italique</i></p>
				</p>
				<p>
					<a class="btn btn-primary " href="#">En savoir plus</a>
				</p>
			</div>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			Bas de page
		</div>
	</div>
</div>