/* Style */

body {
	/* We need to assaign this CSS Custom property to the body instead of :root, because of CSS Specificity and codepen stylesheet placement before loaded CKE5 content. */
	--ck-z-default: 100;
	--ck-z-modal: calc( var(--ck-z-default) + 999 );
}
.amap-alert {
  margin-top: 20px;
  display: none;
}

/*  hauteur de la boite ckeditor */
.ck-editor__editable_inline {
  min-height: 400px;
  height: 400px;
  overflow-y: auto;
}

.ck-content .image.image_resized {
  display: block;
  box-sizing: border-box;
}

.ck-content .image.image_resized img {
  width: 100%;
}

.ck-content .image.image_resized > figcaption {
  display: block;
}

.editor {
  display: block;
}

img {
  width: 100%;
}