/* Style */

body {
  /* We need to assign this CSS Custom property to the body instead of :root, 
    because of CSS Specificity and codepen stylesheet placement before loaded CKE5 content. */
	--ck-z-default: 100;
	--ck-z-modal: calc( var(--ck-z-default) + 999 );
}

.amap-alert {
  margin-top: 20px;
  display: none;
}

/********************  Editeur CkEditor *****************/
.ck-editor__editable_inline {
  min-height: 400px;
  height: 400px;
  overflow-y: auto;
}

.ck-content .image.image_resized {
  display: block;
  box-sizing: border-box;
}

.ck-content .image.image_resized img {
  width: 100%;
}

.ck-content .image.image_resized > figcaption {
  display: block;
}

.editor {
  display: block;
}

img {
  width: 100%;
}

.navbar-brand img {
  width: 100px;
  height: 40px;
}

.glyphicon-user {
  padding-right: 10px;
}

/***************************** Changement mot de passe ************************************/
.password, .password:focus {   
  border-color: rgba(229, 23, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 23, 23, 0.075) inset, 0 0 8px rgba(229, 23, 23, 0.6);
  outline: 0 none;
}

.password-Ok, .password-Ok:focus {   
  border-color: rgba(17, 224, 10, 0.8);
  box-shadow: 0 1px 1px rgba(17, 224, 10, 0.075) inset, 0 0 8px rgba(17, 224, 10, 0.6);
  outline: 0 none;
}

.myProgress {
  width: 100%;
  border-radius: 5px;
}

.myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

.red {
  color: red;
}

.green {
  color: #4CAF50;
}

/* .my-2 {
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
} */

#content {
  margin-top: 5px;
}

#leftmenu {
  border: 1px solid #cecece;
  background: white;
  margin-left: 5px;
  margin-top: 5px;
  max-width: 24%;
}

#leftmenu div {
  padding-left: 10px;
  color: #212529;
}

#leftmenu div a {
  color: #212529;
}

#leftmenu h1 {
  color: #45824f;
  font-family: 'Roboto';
  font-size: 2.2rem;
  padding-top: 1rem; 
}

/************************************  Finder **************************************/
/*  Image lors de l'affichage de l'apercu */
.modal-img {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

/* Add Animation */
.modal-content-img {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close-img {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*************************** Cookie Consent *****************************************/
#cookieConsent {
  background-color: rgba(20,20,20,0.8);
  min-height: 26px;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  padding: 8px 0 8px 30px;
  font-family: "Trebuchet MS",Helvetica,sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}
#cookieConsent a {
  color: #4B8EE7;
  text-decoration: none;
}
#closeCookieConsent {
  float:  right;
  /*display: inline-block;*/
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: -15px 0 0 0;
  font-weight: bold;
}
#closeCookieConsent:hover {
  color: #FFF;
}
#cookieConsent a.cookieConsentOK {
  background-color: #F1D600;
  color: #000;
  /* display: inline-block; */
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
  background-color: #E0C91F;
}
/****************************** Envoi de mail **********************************/

#mail-modal .ck-sticky-panel, #mail-modal .ck-content {
  margin-left: 10px;
  margin-right: 10px;
}

/****************************** Gestion Contrat *********************************/
.contrat-amap {
  display: flex;
}

.contrat-amap .form-group {
  display: flex;
}

.contrat-amap .amap-left {
  width: 33%; 
  min-width: 33%
}

.contrat-amap label {
  width: 150px; 
  min-width: 150px;
}

.contrat-amap .input-group-append {
  cursor: pointer;
}

.contrat-amap .amap-right {
  width: 67%; 
  min-width: 67%; 
  margin-left: 20px; 
  padding-left: 10px;
  padding-right: 20px;
}

.contrat-amap .amap-right div {
  margin-right: 0px; 
}

.contrat-amap .amap-right .tab-content {
  border-left: 1px solid #dee2e6; 
  border-right: 1px solid #dee2e6; 
  border-bottom: 1px solid #dee2e6; 
  border-radius: 0px 0px 5px 5px; 
  height: 420px; 
  margin: 0px;
  padding: 10px;
}

.contrat-amap .amap-right .tab-content h3{
  text-align: center; 
  padding-top: 5px;
}

input.required {
  border-color: rgba(229, 23, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 23, 23, 0.075) inset, 0 0 8px rgba(229, 23, 23, 0.6);
  outline: 0 none;
}
  
input.require-ok {   
    border-color: rgba(17, 224, 10, 0.8);
    box-shadow: 0 1px 1px rgba(17, 224, 10, 0.075) inset, 0 0 8px rgba(17, 224, 10, 0.6);
    outline: 0 none;
}

.glyphicon.pointer {
  cursor:   pointer;
}
